<p style="color: green"><%= notice %></p>
<br>
<h1>Postagens</h1>

<div id="ideas">
  <% @ideas.each do |idea| %>
    <%= image_tag idea.picture_url, width: '100%' if idea.picture.present? %>
    <p>
      <%= link_to "Mostrar postagem", idea %>
    </p>
  <% end %>
</div>

<br>

<%= link_to "Nova postagem", new_idea_path %>
